:root {
    --toolbarBackground: #3f3f3c;
    --windowBackground: #242424;
    --white: #ffffffde;
    --keyColor: #9CDCFE;
        --valueColor: #CE9178;
    --urlColor: #14b914;
    --color-beige-transparent: #f5f5dc20;
    --hoverColor: #646cff;
    --normalFontSize: 16px;
    --footerFontSize: 12px;
    --gray: #a9a9a9;
    --braces1: yellow;
        --braces2: blue;
        --braces3: purple;
        --symbolColor: #D4D4D4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: var(--normalFontSize);
    font-weight: 400;
    font-family: Source Code Pro, monospace;
    color: var(--white);
}

#root {
    position: absolute;
    inset: 0;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 25px;
}

.window {
    background-color: var(--windowBackground);
    display: grid;
    grid-template-columns: 60px 1fr;
    line-height: 25px;
}

.sidebar {
    background-color: var(--toolbarBackground);
    padding: 6px 12px 6px 24px;
    display: flex;
    flex-direction: column;
}

.sidebar>li {
    text-align: right;
    list-style-type: none;
}

.content {
    padding: 6px 0px
}

.symbol-color {
    color: var(--symbolColor);
}

.object-key {
    color: var(--keyColor) !important;
}

.entry {
    color: var(--valueColor);
}

.array-value {
    padding-left: 32px;
    display: block;
}

.code-block {
    padding-left: 32px;
    border-left: .1px solid var(--symbolColor);
}

.footer {
    background-color: var(--toolbarBackground);
    position: sticky;
    bottom: 0;
    font-size: var(--footerFontSize);
    line-height: 1.5;
    justify-content: space-between;
}

.footer section {
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-4px {
    gap: 4px;
}

.footer a {
    color: var(--white)
}

.footer-item {
    cursor: pointer;
    height: 100%;
    padding: 0px 5px;
}

.fullscreen {
    font-size: 24px;
}

.footer-item:hover {
    background-color: var(--gray)
}

::-webkit-scrollbar {
    width: 15px;
    background-color: var(--windowBackground);
}

::-webkit-scrollbar-thumb {
    background-color: #64646480;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: .01rem solid gray;
}