:root {
    --toolbar-background: #3f3f3c;
    --window-background: #242424;
    --white: #ffffffde;
    --key-color: #9CDCFE;
    --value-color: #CE9178;
    --color-beige-transparent: #f5f5dc20;
    --normal-font-size: 16px;
    --footer-font-size: 12px;
    --gray: #a9a9a9;
    --braces-purple: D4D4D4;
    --braces-blue: blue;
    --braces-yellow: purple;
    --symbol-color: #D4D4D4;
    --line-color: rgb(212, 212, 212, .3);
    --selection-color: rgba(63, 126, 197, 0.5)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: var(--normal-font-size);
    font-weight: 400;
    font-family: Source Code Pro, monospace;
    color: var(--white);
}

#root {
    position: absolute;
    inset: 0;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 25px;
}

.window {
    background-color: var(--window-background);
    display: grid;
    grid-template-columns: 60px 1fr;
    line-height: 25px;
    overflow: overlay;
}

.sidebar {
    background-color: var(--toolbar-background);
    padding: 6px 12px 6px 24px;
    display: flex;
    flex-direction: column;
}

.sidebar>li {
    text-align: right;
    list-style-type: none;
}

.content {
    padding: 6px 0px
}

.symbol-color {
    color: var(--symbol-color);
}

.object-key {
    color: var(--key-color) !important;
}

.entry {
    color: var(--value-color);
}

.array-value {
    padding-left: 32px;
    display: block;
}

.code-block {
    padding-left: 32px;
    border-left: .1px solid var(--line-color);
}

.link {
    color: inherit;
    text-decoration: underline;
}

.footer {
    background-color: var(--toolbar-background);
    position: sticky;
    bottom: 0;
    font-size: var(--footer-font-size);
    line-height: 1.5;
    justify-content: space-between;
}

.footer section {
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-4px {
    gap: 4px;
}

.footer a {
    color: var(--white)
}

.footer-item {
    cursor: pointer;
    height: 100%;
    padding: 0px 5px;
}

.fullscreen {
    font-size: 24px;
}

.footer-item:hover {
    background-color: var(--gray)
}

::-webkit-scrollbar {
    width: 15px;
    background-color: var(--window-background);
}

::-webkit-scrollbar-thumb {
    background-color: #64646480;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: .01rem solid gray;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--selection-color);
}

::selection {
    background: var(--selection-color)
}